.posts {
  @include lg-min {
    margin-top: $gap * 5;
    margin-bottom: $gap * 5;
  }
  @include lg-md {
    margin-top: $gap * 4;
    margin-bottom: $gap * 4;
  }
  @include md {
    margin-top: $gap * 3;
    margin-bottom: $gap * 3;
  }


  &__container {
    @extend %container;
  }
  &__grid-container {
    display: grid;

    padding-bottom: $gap;

    gap: $gap;
    @include lg-min {
      grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
      grid-template-columns: 1fr;
    }
  }
  &__actions {
    display: flex;
    justify-content: center;
  }
}

.posts-item {
  transition: backgroud-color 0.5s;

  background-color: #f2f2f2;

  &__link {
    display: grid;
    overflow: hidden;

    height: 100%;

    grid-template-rows: 300px 1fr;
  }
  &__img {
    overflow: hidden;

    img {
      width: 100%;
      height: 300px;

      transition: transform 0.5s;

      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    padding: $gap;

    transition: color 0.5s;

    color: $color-gray;

    h3 {
      text-align: center;

      font-family: $font-header;
      font-weight: 700;
    }
    p {
      text-align: center;
    }
  }
  &:hover,
  &:focus {
    background-color: #d8d8d8;
    .posts-item__img img {
      transform: scale(1.1);
    }
    .posts-item__info {
      color: $color-primary;
    }
  }
}

@for $i  from 1 through 6 {
  .posts-item:nth-child(#{$i}) {
    grid-area: p#{$i};
  }
}
