*,
::after,
::before {
  box-sizing: border-box;
}
html {
  left: 0.1em;

  overflow-y: scroll;

  color: $color-gray;

  font-family: $font-main;
  font-size: $font-size;
}
h1 {
  text-align: center;
  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2;

  @include lg-min {
    letter-spacing: 0.08em;

    font-size: 3.75rem;
  }
  @include lg-md {
    letter-spacing: 0.075em;

    font-size: 2.5rem;
  }
  @include md {
    letter-spacing: 0.067em;

    font-size: 1.875rem;
  }

}
h2 {
  margin-top: 0;

  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: $font-header;
  font-weight: 700;
  line-height: 1.2;

  @include lg-min {
    margin-bottom: 56px;

    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: 42px;

    font-size: 2rem;
  }
  @include md-sm {
    margin-bottom: 36px;

    font-size: 1.5rem;
  }
  @include sm {
    margin-bottom: 36px;

    text-align: center;

    font-size: 1.5rem;
  }
}

h3 {
  letter-spacing: 0.05em;

  font-size: 1.125rem;
}
a {
  text-decoration: none;

  color: $color-light;
}
input {
  outline: none;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  letter-spacing: 0.1em;
}
.button--light {
  border: 2px solid $color-light;
  background-color: rgba($color-light, 0.1);

  @include lg-min {
    width: 250px;
    height: 60px;

    font-size: 1.125rem;
  }
  @include lg-md {
    width: 200px;
    height: 50px;

    font-size: 1rem;
  }
  @include md {
    width: 170px;
    height: 40px;

    font-size: 1rem;
  }
}
.button--basic {
  height: 60px;

  border: 2px solid $color-primary;
  background-color: rgba($color-primary, 0.8);

  font-size: 1.125rem;

  @include sm-min {
    width: 350px;
  }
  @include sm {
    width: 100%;
  }
}
.button:hover,
.button:focus {
  background-color: $color-accent;
}
